<p id="notice"><%= notice %></p>

<h1>Listing Profiles</h1>



<div class="profiles_container">
      
      <% @profiles.each do |profile| %>
      <div class="profile_box">
      <%= profile.username %>
          <% if Upload.where(name: profile.user_id).count == 0 %>
            <% if profile.avatar == "" %>
              <%= image_tag("11.png", alt: "#{profile.username}'s Default Avatar", class: "avatar_index avatar_index_profiles") %>
            <% else %>
              <%= image_tag("#{profile.avatar}.png", alt: "#{profile.username}'s Avatar", class: "avatar_index avatar_index_profiles") %>
            <% end %>
          <% else %>
          <img src="<%= Upload.where(name: profile.user_id).last.url %>" alt="<%= profile.username %>'s Profile Picture" class="avatar_index avatar_index_profiles">
          <% end %>
          <%= Submission.where(user_id: profile.user_id).count %> Submissions,<br> <%= Response.where(user_id: profile.user_id).count %> responses
          <%= link_to 'Show', profile %>
      </div>
      <% end %>

</div>
