<p id="notice"><%= notice %></p>

<h1>Listing Profiles</h1>



<div class="profiles_container">

      <% @profiles.each do |profile| %>
      <div class="profile_box">
        <div id="user_name">
        <%=link_to(profile) do%>
      <%= profile.username %></div>
          <% if Upload.where(name: profile.user_id).count == 0 %>
            <% if profile.avatar == "" %>
              <%= image_tag("11.png", alt: "#{profile.username}'s Default Avatar", class: "avatar_index avatar_index_profiles") %>
            <% else %>
              <%= image_tag("#{profile.avatar}.png", alt: "#{profile.username}'s Avatar", class: "avatar_index avatar_index_profiles") %>
            <% end %>
          <% else %>
          <img src="<%= Upload.where(name: profile.user_id).last.url %>" alt="<%= profile.username %>'s Profile Picture" class="avatar_index avatar_index_profiles">
          <% end %>
          <div id="user_sub">
          <%= Submission.where(user_id: profile.user_id).count %> Submissions,<br> <%= Response.where(user_id: profile.user_id).count %> responses
        </div>
      <% end %>
      </div>
      <% end %>

</div>

<br>

<div class="page_nav">
  <ul class="page_nav_list">
    <% unless (@prof_page == 1) %>
      <%= link_to 'Previous page', page: @prof_page - 1 %>
    <% end %>
    <% if (!(@prof_page == 1) && !((@prof_page * @prof_offset)>=(Profile.all.length))) %>
    |
    <% end %>
    <% unless ((@prof_page * @prof_offset)>=(Profile.all.length)) %>
      <%= link_to 'Next page', page: @prof_page + 1 %>
    <% end %>
  </ul>
</div>
