<p id="notice"><%= notice %></p>

<h1>Listing Submissions</h1>





    <% @submissions.each do |submission| %>
      <div class="submission_box">
        <%# link_to submission.title %>
        <div class="sub_left">


        <%= link_to "#{submission.title}", submission, {class:"submission_title"} %>
        <%= link_to "#{submission.entry}", submission, {class:"submission_entry"}%>
        </div>
        <div class="sub_right">


        <%= link_to "#{Response.where(submission_id: submission.id).count}", submission, {class:"sub_resp_count"} %>
        <%= link_to "#{Profile.where(user_id: submission.user_id).first.username}", submission, {class:"sub_username"} %>
        <%# if Profile.avatar == "" %>
          <%# image_tag("11.png", alt: "#{Profile.username}'s Default Avatar", class: "avatar_index") %>
        <%# else %>
          <%# image_tag("#{Profile.avatar}.png", alt: "#{Profile.username}'s Avatar", class: "avatar_index") %>
        <%# end %>

        <%# link_to 'Destroy', submission, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>

    <% end %>




<%= link_to 'New Submission', new_submission_path %>
