<br>
<p id="notice"><%= notice %></p>
<br>
<div class="title_and_entry">
  <div class="sub_title">
    <h2><%= Submission.find(params[:id]).title %></h2>
  </div>
  <div class="votes">
    <div class="vote_count">
      <h3><%= pluralize Submission.find(params[:id]).vote_count, 'vote' %></h3>
    </div>
    <div class="vote_btn_div">
      <%= link_to new_upvote_path(Submission.find(params[:id]))  do %>
        <div class="vote_btn">
          <i class="fa fa-thumbs-o-up"></i>
        </div>
      <% end %>
      <%= link_to new_downvote_path(Submission.find(params[:id]))  do %>
        <div class="vote_btn">
          <i class="fa fa-thumbs-o-down"></i>
        </div>
      <% end %>
    </div>
  </div>

  <p class="entry">
<strong>Entry:</strong><br>
<%= Submission.find(params[:id]).entry %>
  </p>
</div>

<div class="code_box">
  <div class="html_box">
      <strong>HTML:</strong>
      <div class="html_field"><%= Submission.find(params[:id]).html %>
      </div>
  </div>
  <div class="css_box">
      <strong>CSS:</strong>
      <div class="css_field"><%= Submission.find(params[:id]).css %>
      </div>
  </div>
</div>

<% code = "<!DOCTYPE html><html><head>
  <meta charset='utf-8'>
  <title>My Portfolio Site</title>
  <style type='text/css'>
    #{Submission.find(params[:id]).css}
  </style>
</head>
<body> #{Submission.find(params[:id]).html}</body></html>" %>
<div class="iframe">
  <iframe srcdoc="<%= code %>" >
    <p>Your browser does not support iframes.</p>
  </iframe>
</div>


<% if user_signed_in? %>
  <% if Submission.find(params[:id]).user_id == current_user.id %>
    <%= link_to 'Edit', edit_submission_path(Submission.find(params[:id])), class: "profile_li" %> |
    <%= link_to 'Destroy', Submission.find(params[:id]), method: :delete, data: { confirm: 'Are you sure?' }, class: "profile_li" %> |
  <% end %>
<% end %>
<%= link_to 'Back to Submissions', submissions_path, class: "profile_li" %>
