<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @submission.title %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @submission.entry %>
</p>

<p>
  <strong>HTML:</strong>
  <%= @submission.html %>
</p>

<p>
  <strong>CSS:</strong>
  <%= @submission.css %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
