<p id="notice"><%= notice %></p>



<div class="title_and_entry">
    <div class="sub_title">
      <h2><%= @submission.title %></h2>
    </div>
    <div class="votes">
      <div class="vote_count">
        <h3><%= pluralize @submission.vote_count, 'vote' %></h3>
      </div>
      <% if user_signed_in? %>
        <div class="vote_btn_div">
          <%= link_to(new_upvote_path(@submission)) do %>
            <div class="vote_btn">
              <i class="fa fa-thumbs-o-up"></i>
            </div>
          <% end %>
          <%= link_to(new_downvote_path(@submission)) do %>
            <div class="vote_btn">
              <i class="fa fa-thumbs-o-down"></i>
            </div>
          <% end %>
        </div>
      <%# else %>
        <!-- <%#= link_to "Sign up", new_user_registration_path %> or <%#= link_to "Sign in", new_user_session_path %> to vote! -->
      <% end %>

    </div>

  <p class="entry">
    <strong>Entry:</strong>
    <%= @submission.entry %>
  </p>
</div>

<div class="code_box">
  <div class="html_box">
      <strong>HTML:</strong>
      <div class="html_field"><%= @submission.html %>
      </div>
  </div>
  <div class="css_box">
      <strong>CSS:</strong>
      <div class="css_field"><%= @submission.css %>
      </div>
  </div>
</div>

<% code = "<!DOCTYPE html><html><head>
  <meta charset='utf-8'>
  <title>My Portfolio Site</title>
  <style type='text/css'>
    #{@submission.css}
  </style>
</head>
<body> #{@submission.html}</body></html>" %>
<div class="iframe">
  <iframe srcdoc="<%= code %>" >
    <p>Your browser does not support iframes.</p>
  </iframe>
</div>
<div class="new_comment_hidden_div" id="new_comment">

</div>
<div class="comment">
  <h3 class="new_response_head">New Response</h3>
</div>
<% if user_signed_in? %>
  <%= render 'responses/form' %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %> to add a response!
<% end %>

<h3>Responses:</h3>

<% @submission.responses.reverse.each do |response| %>
  <div class="comment_hidden_div" id="comment_<%= response.id %>">

  </div>
  <div class="comment show_sections">
    <h4><%= Profile.where(user_id: response.user_id).first.username %></h4>
    <%= response.comment %>
    <%# Do we want to include this if statement so that the button to show a
        comment's code is only displayed if there is code to display? i.e. button
        won't be there if the commenter didn't include code %>
    <% if !(response.html.blank? && response.css.blank?) %>
      <div class="row more">
        <div class="more-btn-container">
          <a class="more-btn" href="#comment_<%= response.id %>">Show Code</a>
          <div class="code_box">
            <div class="html_box">
                <strong>HTML:</strong>
                <div class="html_field"><%= response.html %>
                </div>
            </div>
            <div class="css_box">
                <strong>CSS:</strong>
                <div class="css_field"><%= response.css %>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row more">
        <div class="more-btn-container">
          <a class="more-btn" href="#comment_<%= response.id %>">Show Resulting Webpage</a>
          <% code = "<!DOCTYPE html><html><head>
            <meta charset='utf-8'>
            <title>My Portfolio Site</title>
            <style type='text/css'>
              #{response.css}
            </style>
          </head>
          <body> #{response.html}</body></html>" %>
          <div class="iframe_box">
            <iframe srcdoc="<%= code %>" >
              <p>Your browser does not support iframes.</p>
            </iframe>
          </div>
        </div>
      </div>
    <% end %>
    <p class="timestamp">Added on: <%= response.created_at %></p>
    <% if user_signed_in? %>
      <% if response.user_id == current_user.id %>
        <%= link_to 'Edit', edit_response_path(response) %> |
        <%= link_to 'Destroy', response, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    <% end %>

  </div>
<% end %>

<% if user_signed_in? %>
  <% if @submission.user_id == current_user.id %>
    <%= link_to 'Edit', edit_submission_path(@submission) %> |
    <%= link_to 'Destroy', @submission, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% end %>
<% end %>
<%= link_to 'Back to Submissions', :back %>
