<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @submission.title %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @submission.entry %>
</p>

<p>
  <strong>HTML:</strong>
  <%= @submission.html %>
</p>

<p>
  <strong>CSS:</strong>
  <%= @submission.css %>
</p>


<% code = "<!DOCTYPE html><html><head>
  <meta charset='utf-8'>
  <title>My Portfolio Site</title>
  <style type='text/css'>
    #{@submission.css}
  </style>
</head>
<body> #{@submission.html}</body></html>" %>
<div class="iframe">
  <iframe srcdoc="<%= code %>" >
    <p>Your browser does not support iframes.</p>
  </iframe>
</div>

<div class="comment">
  <h3 class="new_response_head">New Response</h3>
</div>
<%= render 'responses/form' %>

<h3>Responses:</h3>

<% @submission.responses.each do |response| %>
  <div class="comment show_sections">
    <%= response.comment %>
    <%= response.html %>
    <%= response.css %>
    <br>
    <p class="timestamp">Added on: <%= response.created_at %></p>
  </div>
<% end %>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Submission', :back %>
