<%= form_for(@response) do |f| %>
  <% if @response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% @response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" id="new_comment">

    <%= f.text_area :comment %>
  </div>

  <div class="row more comment_code">
    <div class="more-btn-container">
      <a class="more-btn profile_li" href="#new_comment">Add code to your comment?</a>
      <div class="code_input">
        <div class="code_field">
          <%= f.label :html, 'HTML'%><br>
          <%= f.text_area :html %>
        </div>
        <div class="code_field">
          <%= f.label :css, 'CSS' %><br>
          <%= f.text_area :css %>
        </div>
      </div>
    </div>
  </div>
  <% if @response.submission_id.nil? %>
    <%= f.hidden_field :submission_id, value: @submission.id %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
