<!DOCTYPE html>
<html>
<head>
  <title>DesignFeed</title>
  <link href='//fonts.googleapis.com/css?family=Unica+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if (user_signed_in?) && (Profile.where(user_id: current_user.id).length == 0) %>
  <h2>You must create a profile.</h2>
  <% @profile = current_user.profiles.build %>
  <%= render 'profiles/form', collection: @profile %>
<% else %>

    <p class="alert"><%= alert %></p>

<div class="nav_bar">


    <div class="nav_bar1">
      <ul><li class="home"><%= link_to 'Home', welcome_index_path %></li>
        <li class="user_profiles"><%= link_to 'User Profiles', profiles_path %></li>
        <li class="submissions">
          Submissions
          <ul>
            <li><%= link_to 'Create a New Submission', new_submission_path %></li>
            <li><%= link_to 'View All Submissions', submissions_path %></li>
          </ul>
        </li>
        <li class="faq"><%= link_to "FAQ", faq_index_path %></li>
      </ul>

    </div>
    <div class="nav_bar2 user_link">
    <ul>
    <% if user_signed_in? %>
      <% if Profile.where(user_id: current_user.id).length != 0 %>
        <li>
          <%= Profile.where(user_id: current_user.id).first.username %>
          <ul>
            <li><%= link_to "View My Profile", profile_path(Profile.where(user_id: current_user.id).first.id) %></li>
            <li><%= link_to "Edit My Profile", edit_profile_path(Profile.where(user_id: current_user.id).first.id) %></li>
            <li class="sign_out"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
          </ul>
        </li>
      <% end %>
    <%else%>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <li><%= link_to "Sign In", new_user_session_path %></li>
    <% end %>
  </ul>
  </div>
  </div>
    <div class="nav_bar_space">

    </div>

  <%= yield %>

<% end %>

</body>
</html>
